// Mixins Here
  .buttonStyle(@backgroundColor; @width; @color; @fontSize; @pad) {
      background-color: @backgroundColor;
      width: @width;
      color: @color;
      font-size: @fontSize;
      padding: @pad;
  }

   .navStyle(@display; @direction){
      display: @display;
      flex-direction: @direction;
   }


   @keyframes changeBackground {
       .changeColor;
    }
    
   .changeColor() {
    from {background-color: white;}
    from {background-color: orange;}
}